/* Fuentes de Google Descargados */
@font-face {
    font-family: 'Bangers';
    src: url(./imagenes/FUENTE-LETRA/Bangers/Bangers-Regular.ttf);
}
@font-face {
    font-family: 'ArchivoBlack';
    src: url(./imagenes/FUENTE-LETRA//Archivo_Black/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: 'Bungee_Inline';
    src: url(./imagenes/FUENTE-LETRA/Bungee_Inline/BungeeInline-Regular.ttf);
}
@font-face {
    font-family: 'Carter_One';
    src: url(./imagenes/FUENTE-LETRA/Carter_One/CarterOne-Regular.ttf);
}
@font-face {
    font-family: 'Fugaz_One';
    src: url(./imagenes/FUENTE-LETRA/Fugaz_One/FugazOne-Regular.ttf);
}
@font-face {
    font-family: 'Knewave';
    src: url(./imagenes/FUENTE-LETRA/Knewave/Knewave-Regular.ttf);
}
@font-face {
    font-family: 'Wallpoet';
    src: url(./imagenes/FUENTE-LETRA//Wallpoet/Wallpoet-Regular.ttf);
}
@font-face {
    font-family: 'Audiowide';
    src: url(./imagenes/FUENTE-LETRA/Audiowide/Audiowide-Regular.ttf);
}



.fondopagina{
    background-image: url(./imagenes/fondo1.jpeg);
    background-repeat:round;
}

.tituloinicio{
    font-family: 'Bungee_Inline' ;
    letter-spacing: -3px;
    font-style:italic;
    /* font-weight: bold; */
    font-size: 50px;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

.navegacion {
    font-family:'Audiowide' ;
    font-size: 15px;
}

.mapa {
    width: 570px;
    height: 300px;
}

.sectioninicio4__tituloimagen-novedades, .sectioninicio2__parrafo{
    font-size: 20px;
}

/*mirar esta parte*/
@media(min-width:992px) and (max-width: 1199px) { /*tamaño en lg:;992px a 1199px*/
    .novedades__tamañovideo {
        width:270px;
        height:470px
    }
}

@media(min-width:768px) and (max-width: 991px) { /*tamaño en md: 768px a 991px*/
    .novedades__tamañovideo {
        width:200px;
        height:350px
    }
}

@media(min-width:576px) and (max-width: 767px) { /*tamaño en sm: 576px a 767px*/
    .novedades__tamañovideo {
        width:185px;
        height:322px
    }
}


@media(max-width: 999px) { /*tamaño para telefono en modo vertical y horizontal*/
    .sectioninicio4__tituloimagen-novedades,.sectioninicio2__parrafo {
        font-size: 14px;

    }
}

@media(min-width:576px) and (max-width: 767px) { /*tamaño para telefono en modo vertical y horizontal*/
    .sectioninicio4__tituloimagen-novedades,.sectioninicio2__parrafo {
        font-size: 12px;
    }

    .mapa {
        height: 200px;
    }
}

@media(max-width: 575px) { /*tamaño para telefono en modo vertical y horizontal*/
    .tituloinicio{
        font-size: 35px;
    }
    .logo-inicio {
        width: 80px;
        height: 80px;
    }
    .sectioninicio__textoinicio {
        font-size: 17px;
    }

}





 

/*responsive de Bootstrap 
xs: 0,
sm: 576px a 767px
md: 768px a 991px +
lg: 992px a 1199px +
xl: 1200px, +
xxl: 1400px +

margin y padding

m - for classes that set margin
p - for classes that set padding
Where sides is one of:

t - for classes that set margin-top or padding-top
b - for classes that set margin-bottom or padding-bottom
s - (start) for classes that set margin-left or padding-left in LTR, margin-right or padding-right in RTL
e - (end) for classes that set margin-right or padding-right in LTR, margin-left or padding-left in RTL
x - for classes that set both *-left and *-right
y - for classes that set both *-top and *-bottom
blank - for classes that set a margin or padding on all 4 sides of the element

*/